/*! Responsive Grid System | Author: Graham Miller - grahamrobertsonmiller.co.uk | responsivegridsystem.com/layouts */

/*  =============================================================================
    SECTIONS  
    ============================================================================= */

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}



/*  =============================================================================
    GROUPING  
    ============================================================================= */

.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}



/*  =============================================================================
    GRID COLUMN SETUP 
    ============================================================================= */

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */



/*  =============================================================================
    MEDIA QUERIES - BREAKPOINTS:
    Remove margins as all go full width at 768 pixels
    ============================================================================= */

@media only screen and (max-width: 768px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}