/*! Responsive Grid System | Author: Graham Miller - grahamrobertsonmiller.co.uk | responsivegridsystem.com/layouts */

/*  =============================================================================
    SECTIONS  
    ============================================================================= */

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}



/*  =============================================================================
    GROUPING  
    ============================================================================= */

.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}



/*  =============================================================================
    GRID COLUMN SETUP 
    ============================================================================= */

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */



/*  =============================================================================
    MEDIA QUERIES - BREAKPOINTS:
    Remove margins as all go full width at 768 pixels
    ============================================================================= */

@media only screen and (max-width: 768px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}



/*  =============================================================================
    GRID OF TWO 
    ============================================================================= */

.span_2_of_2 {
	width: 100%;
}

.span_1_of_2 {
	width: 49.2%;
}



/*  =============================================================================
    MEDIA QUERIES - BREAKPOINTS:
    Remove margins as all go full width at 768 pixels
    ============================================================================= */

@media only screen and (max-width: 768px) {
	.span_2_of_2 {
		width: 100%; 
	}
	.span_1_of_2 {
		width: 100%; 
	}
}



/*  =============================================================================
    GRID OF THREE 
    ============================================================================= */
	
.span_3_of_3 {
	width: 100%; 
}

.span_2_of_3 {
	width: 66.13%; 
}

.span_1_of_3 {
	width: 32.26%; 
}



/*  =============================================================================
    MEDIA QUERIES - BREAKPOINTS:
    Remove margins as all go full width at 768 pixels
    ============================================================================= */
    
@media only screen and (max-width: 768px) {
	.span_3_of_3 {
		width: 100%; 
	}
	.span_2_of_3 {
		width: 100%; 
	}
	.span_1_of_3 {
		width: 100%;
	}
}