/*! WOMEN TECHMAKERS HAMBURG: This is our custom CSS. */

/* WTM HH Color Palette: Hex Values - RGB Values:
White: #fff - rgb(255, 255, 255);
Gray: #666 - rgb(102, 102, 102);
Black: #10162D; - rgb(16, 22, 45);
Green: #1CE9B6 - rgb(28, 233, 182);
Dark Green: #00BFA5 - rgb(0, 191, 165);
Blue: #4FC3F7 - rgb(79, 195, 247);
Dark Blue: #4285F4 - rgb(66, 133, 244);
*/


/*  =============================================================================
    BASE STYLES
    ============================================================================= */

/* BASE STYLES are a set of CSS rules that will be applied into desired global HTML elements via CSS selecrgb(16, 22, 45)tors (element type selectors/HTML elements or class selectors). */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: #fff; /* White */
    color: #10162D;;  /* Black */
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 2;
}

.figure {
    margin: 0;
    padding: 0;
}

img {
    border: 0; /* Remove border from img when inside 'a' element in IE 8-10. */
    vertical-align: middle;
    outline: none;
}



/*  =============================================================================
    UTILITY - HTML ELEMENTS
    ============================================================================= */

/* UTILITY - HTML ELEMENTS are a set of CSS rules that will be applied into certain CSS selectors that are commonly used through each HTML document. By grouping them into this module and styling them once, we'll facilite the workflow of re-using such CSS selectors (class selectors or element type selectors/HTML elements) and avoiding the need of style them over and over again. */

a {
    border-bottom: 1px solid rgba(102, 102, 102, 0.3); /* Gray */
    color: #666;  /* Gray */
    outline: 0;
    text-decoration: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* Remove dark background tap on iPad/iPhone */
    -webkit-transition: color 0.1s linear, border 0.2s linear; /* Chrome, Safari, Opera */
    transition: color 0.1s linear, border 0.2s linear;
}

a:hover,
a:focus {
    border-color: rgba(28, 233, 182, 0.2); /* Green with 20% alpha opacity */
}

a:hover,
a:focus,
li:nth-child(odd) a:hover,
li:nth-child(odd) a:focus {
    color: #00BFA5; /* Dark Green */
}

li:nth-child(even) a:hover,
li:nth-child(even) a:focus {
    color: #1CE9B6; /* Green */
}

button {
    outline: none;
}

.h1, .h2, .h3, .h4, .cite {
    color: #666; /* Gray */
    font-weight: 100;
}

.h1, .h2, .h3, .cite {
    line-height: 1.1;
}

.h2 {
    font-size: 44px;
}

.h3,
.cite {
    font-size: 28px;
    margin-bottom: 20px;
}

.h4 {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.cite {
    font-style: normal;
}

p:not(:last-child) {
    margin-bottom: 30px;
}

/*  MEDIA QUERIES - BREAKPOINT: Device has a minimal width of 870 pixels */

@media only screen and (min-width: 870px) {
    .h2 {
        font-size: 54px;
    }
}



/*  =============================================================================
    HELPER CLASSES
    ============================================================================= */

/* HELPER CLASSES are a set of CSS rules that will be applied into certain classes that are created to perform an specific style for an HTML element. The advantage of creating them is that we'll be able to re-use those classes as much as we need to in any HTML element that we'll like. We'll avoid repeating those styling properties in our CSS, and create a much smaller CSS file. These classes can be used inside a <h1 class="helper-class"></h1> tag, a <div class="helper-class"></div> tag, an <img class="helper-class"> tag, etc. */

.img--responsive {
    max-width: 100%;
    height: auto !important;
}

.img--circle {
    border-radius: 50%;
}

.img--headline {
    width: 85%;
}

.visible-mobile {
    display: block !important;
}

.transition-all {
    -webkit-transition: all 0.5s ease-in-out; /* Chrome, Safari, Opera */
    transition: all 0.5s ease-in-out;
}


/*  MEDIA QUERIES - BREAKPOINT: Device has a minimal width of 870 pixels */

@media only screen and (min-width: 870px) {
    .visible-mobile {
        display: none !important;
    }
}



/*  =============================================================================
    GENERAL STYLES
    ============================================================================= */

/* GENERAL STYLES are a set of CSS rules that will applied into certain global CSS selectors that are created to perform a standard style desired for an HTML element. Similarly to the Helper Classes, the General Styles contains class selectors that can be re-used in our HTML elements, again, to avoid repetition. But element type selectors (HTML elements) can also be clasified into this category, as opposed to the Helper Classes. */

.wrapper {
    height: 100%;
    padding: 0 25px;
}

.sec--content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 120px;
}

.sec--content .h2 {
    color: #4285F4; /* Dark Blue */
    margin-bottom: 60px;
}

.sec--content ul {
    list-style-type: square;
}

.sec--content ul li {
    margin-bottom: 10px;
    margin-left: 18px;
}

.sec--content ul li:nth-child(odd) {
    color: #4285F4; /* Dark Blue */
}

.sec--content ul li:nth-child(even) {
    color: #4FC3F7; /*  Blue */
}

.col {
    padding: 25px;
}

.job-title {
    font-size: 20px;
}

.footer--blockquote {
    margin-top: 20px;
}

/*  MEDIA QUERIES - BREAKPOINT: Device has a minimal width of 870 pixels */

@media only screen and (min-width: 870px) {
    .sec--content .wrapper {
        padding: 0 35px;
    }
}



/*  =============================================================================
    HEADER & NAVIGATION STYLES
    ============================================================================= */

/* HEADER & NAVIGATION STYLES are a set of CSS rules that will be applied inside the header and navigation HTML elements via CSS selectors (class selectors or element type selectors/HTML elements) already defined in each HTML element that needs styling to match our template. */

.header {
    width: 100%;
    height: 60px;
    background-color: rgba(255,255,255, 0.9); /* White with 90% alpha opacity */
    position: fixed;
    z-index: 120;
}

/* LOGO */

.logo {
    float: left;
    margin: 0;
    position: relative;
    z-index: 110;
}

.logo a {
    width: 189px;
    height: 60px;
    background-image: url("../img/wtm-logo.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 189px 60px;
    border: 0;
    display: inline-block;
    float: left;
    font: 0/0 a;
    margin-right: 20px;
    vertical-align: middle;
    -webkit-transition: transform 0.1s linear; /* Chrome, Safari, Opera */
    transition: transform 0.1s linear;
}

.logo a:hover,
.logo a:focus {
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
    -webkit-transform: scale(0.9); /* Chrome, Safari, Opera */
    -ms-transform: scale(0.9); /* IE9 */
    transform: scale(0.9);
}

/* NAVIGATION */

.nav ul {
    display: inline-block;
    list-style-type: none;
    padding-top: 16px;
}

.nav ul li {
    display: inline-block;
    padding: 0 8px;
    vertical-align: middle;
}

.nav a.active {
    color: #10162D;;  /* Black */
}

/* SOCIAL NAVIGATION */

.nav__social {
    float: right;
}

/* MOBILE NAVIGATION BUTTON */

.menu--open {
    cursor: pointer;
    float: right;
    margin-top: 20px;
    margin-right: 15px;
}

.menu--open:hover,
.menu--open:focus {
    color: #4FC3F7; /* Blue */
}

.menu--close {
    width: 80px;
    height: 60px;
    background-color: #1CE9B6; /* Green */
    border: 0;
    color: white;
    font-size: 30px;
    position: absolute;
    text-align: center;
    right: -80px; /* 40px; */
    top: 0;
}

/* MOBILE NAVIGATION BUTTON & NAVIGATION LINKS */

.menu--open,
.nav a {
    border: 0;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
}

/*  MEDIA QUERIES - BREAKPOINT: Device has a maximal width of 869 pixels */

@media only screen and (max-width: 869px) {

    /* NAVIGATION */

    .nav {
        width: 256px;
        height: 100%;
        backface-visibility: hidden;
        background-color: #fff; /* White */
        overflow: auto;
        position: fixed;
        z-index: 100;
        top: 0;
        left: -100%;
        visibility: visible;
    }

    .nav ul {
        width: 95%;
        line-height: 20px;
    }

    .nav ul:first-of-type {
        margin: 70px 0 0 13px;
    }

    .nav .nav__site li {
        display: block;
    }

    .nav ul li a {
        font-size: 16px;
        display: block;
        padding: 13px 16px;
    }

    .nav a.active {
        color: #4285F4; /* Dark Blue */
    }

    /* CSS Magic - Let's Open that Mobile Navigation */

    .nav:target {
        left: 0;
    }

    /* MOBILE NAVIGATION BUTTON */

    .nav:target + .menu--close {
        right: 0;
    }
}



/*  =============================================================================
    HOME PAGE STYLES
    ============================================================================= */

/* HOME PAGE STYLES are a set of CSS rules that will be applied to our index.HTML page via CSS selectors (class selectors or element type selectors/HTML elements) already defined in each HTML element that needs styling to match our template. */

.main--home {
    height: 100%;
}

.sec--home {
    width: 100%;
    height: 100%;
    background-color: #fff; /* White */
    background-image: url('../img/hamburg-01.jpg');
    background-repeat: no-repeat;
    background-position: 100% 80%;
    background-size: cover;
}

.sec--home .section {
    width: 100%;
    position: relative;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-40%); /* Chrome, Safari, Opera */
    -ms-transform: translateY(-40%); /* IE9 */
    transform: translateY(-40%);
}

.section__banner {
    background-color: rgba(255,255,255, 0.9); /* White with 90% alpha opacity */
    padding: 20px 12px 12px;
    text-align: center;
}

.sec--home__logo {
    display: inline-block;
    padding-bottom: 30px;
}

.countdown__text {
    color: #4285F4; /* Dark Blue */
    display: inline-block;
    font-weight: 500;
    line-height: 1.5;
}

.countdown__time {
    display: inline-block;
}

.btn_call_to_action {
    width: 170px;
    height: 50px;
    background-color: #f1524c;
    border-radius: 8px;
    margin: 0 auto;
}

.btn_call_to_action > .btn_link {
    width: 100%;
    margin: auto;
    padding: 6px;
}

.btn_call_to_action a {
    border-bottom: #f1524c;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
}


/*  MEDIA QUERIES - BREAKPOINT: Device has a minimal width of 870 pixels */

@media only screen and (min-width: 870px) {
    .sec--home__logo {
        padding-right: 8px;
    }

    .sec--home .h2 {
        display: inline-block;
    }
}

/*  MEDIA QUERIES - BREAKPOINT: Device has a maximal width of 869 pixels */

@media only screen and (max-width: 869px) {
    .countdown {
        margin-top: 30px;
    }
}



/*  =============================================================================
    ABOUT PAGE STYLES
    ============================================================================= */

/* ABOUT PAGE STYLES are a set of CSS rules that will be applied to our about.HTML page via CSS selectors (class selectors or element type selectors/HTML elements) already defined in each HTML element that needs styling to match our template. */

.sec--about .figure {
    margin-bottom: 25px;
    text-align: center;
}

.sec--about .wrapper div:not(:first-of-type) .h2 {
    border-top: 1px solid rgba(102, 102, 102, 0.2); /* Gray with 20% alpha opacity */
    margin-top: 25px;
    padding-top: 60px;
}



/*  =============================================================================
    EVENTS PAGE STYLES
    ============================================================================= */

/* EVENTS PAGE STYLES are a set of CSS rules that will be applied to our events.HTML page via CSS selectors (class selectors or element type selectors/HTML elements) already defined in each HTML element that needs styling to match our template. */

.sec--events .figure {
    margin-bottom: 25px;
    text-align: center;
}



/*  =============================================================================
    COMMUNITY PAGE STYLES
    ============================================================================= */

/* COMMUNITY PAGE STYLES are a set of CSS rules that will be applied to our community.HTML page via CSS selectors (class selectors or element type selectors/HTML elements) already defined in each HTML element that needs styling to match our template. */

.sec--community ul {
    list-style-type: none;
}

.sec--community ul li:nth-child(odd),
.sec--community ul li:nth-child(even) {
    color: #10162D;;  /* Black */
}

.sec--community li:not(:first-of-type) {
    padding-top: 60px;
}

.sec--community li:not(:last-of-type) {
    border-bottom: 1px solid rgba(102, 102, 102, 0.2); /* Gray with 20% alpha opacity */
    padding-bottom: 60px;
}

.sec--community .col--last {
    background-color: rgba(66, 133, 244, 0.05); /* Dark Blue with 5% alpha opacity */
}

/*  MEDIA QUERIES - BREAKPOINT: Device has a maximal width of 869 pixels */

@media only screen and (max-width: 869px) {
    .sec--community .figure {
        text-align: center;
    }
}



/*  =============================================================================
    MENTORS PAGE STYLES
    ============================================================================= */

/* MENTORS PAGE STYLES are a set of CSS rules that will be applied to our mentors.HTML page via CSS selectors (class selectors or element type selectors/HTML elements) already defined in each HTML element that needs styling to match our template. */

.sec--mentors article:not(:first-of-type) {
    padding-top: 60px;
}

.sec--mentors article:not(:last-of-type) {
    border-bottom: 1px solid rgba(102, 102, 102, 0.2); /* Gray with 20% alpha opacity */
    padding-bottom: 60px;
}

/*  MEDIA QUERIES - BREAKPOINT: Device has a maximal width of 869 pixels */

@media only screen and (max-width: 869px) {
    .sec--mentors .col {
        padding-top: 0;
    }

    .sec--mentors .figure {
        text-align: center;
    }
}



/*  =============================================================================
    STICKY BACK-TO-TOP BUTTON STYLES
    ============================================================================= */

/* STICKY BACK-TO-TOP BUTTON STYLES are a set of CSS rules that will be applied to our scroll to top button link via CSS selectors (class selectors) already defined in our HTML element and defined via JS (JavaScript) that needs styling to match our template. */

.scroll {
    background-color: #1CE9B6; /* Green */
    border: 0;
    color: white;
    font-size: 30px;
    opacity: 0;
    padding: 0 30px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    -webkit-transform: rotate(180deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(180deg);  /* IE 9 */
    transform: rotate(180deg);
}

.is-visible {
    opacity: .9;
}

.is-visible:hover {
    color: #00BFA5; /* Dark Green */
    opacity: 1;
}



/*  =============================================================================
    FOOTER STYLES
    ============================================================================= */

/* FOOTER PAGE are a set of CSS rules that will be applied inside the Footer HTML element via CSS selectors (class selectors or element type selectors/HTML elements) already defined in each HTML element that needs styling to match our template. */

.footer {
    border-top: 1px solid rgba(102, 102, 102, 0.2); /* Gray with 20% alpha opacity */
    color: #666; /* Gray */
    font-size: 13px;
    margin-top: 60px;
    padding: 12px 0;
    text-align: center;
}

.footer a.active {
     color: #4285F4; /* Dark Blue */
     border-bottom: 0;
}
