/*! Responsive Grid System | Author: Graham Miller - grahamrobertsonmiller.co.uk | responsivegridsystem.com/layouts */

/*  =============================================================================
    GRID OF TWO 
    ============================================================================= */

.span_2_of_2 {
	width: 100%;
}

.span_1_of_2 {
	width: 49.2%;
}



/*  =============================================================================
    MEDIA QUERIES - BREAKPOINTS:
    Remove margins as all go full width at 768 pixels
    ============================================================================= */

@media only screen and (max-width: 768px) {
	.span_2_of_2 {
		width: 100%; 
	}
	.span_1_of_2 {
		width: 100%; 
	}
}